*{
  font-family: Nanum Gothic;
}
  .container {
    padding-top:50px;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    background-color: #e2e2e2;
  }
  .movies .movie {
    position:relative;
    display:inline-block;
    overflow:visible;
    margin:10px;
    width:560px;
    height:250px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 70px;
    font-weight: 300;
    padding: 20px;
    border-radius: 5px;
    color: #303135;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
      transition: 0.5s;
  }
  .movie:hover{
    transform: scale(1.1);
    box-shadow: 0 6px 13px -5px rgba(50, 50, 93, 0.5),
      0 8px 16px -8px rgba(0, 0, 0, 0.6), 0 -6px 16px -6px rgba(0, 0, 0, 0.05);
    opacity: 1;
    z-index: 1;
  }
  .movie:hover > img{
    transform: scale(1.1);
  }
  
  .movies .movie a {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 2fr;
    grid-gap: 20px;
    text-decoration: none;
    color: inherit;
  }
  
  .movie img {
    border-radius: 3px;
    transition: 0.5s;
    position: absolute;
    top: -50px;
    max-width: 180px;
    width: 100%;
    margin-right: 30px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);

  }
  
  .movie .movie_title,
  .movie .movie_year {
    margin: 0;
    margin-left: 200px;
    font-weight: 300;
  }
  
  .movie .movie_title {
    margin-bottom: 5px;
    font-size: 100%;
    font-weight: 600;
    color: #2c2c2c;
  }
  
  .movie .genres {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    padding-left:190px;
    margin: 5px 0px;
  }
  
  .genres li,
  .movie .movie_year {
    margin-right: 10px;
    font-size: 12px;
  }
  .genre{
    color:#949494;
  }
  .summaryDiv{
    overflow:hidden;
    width:500px;
    height: 75px;
  }
  .movie_summary{
    word-break: normal;
    text-overflow: ellipsis;
    display:inline-block;
    font-size: 16px;
    margin-left:200px;
  }
  
  .loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
  }
  
  .movies {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-gap: 100px;
    padding: 50px;
    width: 80%;
    padding-top: 70px;
  }
  
  @media screen and (max-width: 1090px) {
    .movies {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }
